body {  background-color: #9CCCCC; }

p {
  font-family: sans-serif;
  padding: 35px;
  text-align: center;
  width: 283px;
  margin: auto;
  border-style:solid;
  border-radius:4px
}

#action {
  font-family: sans-serif;
  padding: 35px;
  width: 283px;
  margin: auto;
}

#randa {
  font-family: sans-serif;
  padding: 35px;
  background-color: #e7d6b1;
  width: 283px;
  margin: auto;
}